.navbar {
  background-color: #cdb4db;
}

h1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold 700;
  font-style: normal;
}

h2, h3, h4, h5, h6 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    }


.moods {
    padding: 0px ;
    border: 4px solid #ffc8dd;
    margin-left: 10px;
    margin-bottom: 10px;
}

.moods h3 {
    padding: 10px;
    border: 3px solid #ffc8dd;
    background-color: #ffc8dd;

}


.moods a {
    padding: 10px;
    text-decoration: none;
}

.moods a:hover{
    color: #ffc8dd;
}


.date h2 {
    padding: 10px;
    border: 3px solid #cdb4db;
    background-color: #cdb4db;

}

.date {
    padding: 0px ;
    border: 4px solid #cdb4db;;
    margin-left: 10px;
    margin-bottom: 10px;

}



 /* Customize Date Picker Box */
.date-picker {
    border: 1px solid #ccc;
    background-color: #cdb4db;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    margin:auto;
    color:black
}

.todo{

}


.water  {
    padding: 0px ;
    border: 4px solid #bde0fe;
    margin-left: 10px;
    margin-bottom: 10px;
}

.water a {
    padding: 10px;
    text-decoration: none;
}

.water h3 {
    padding: 10px;
    border: 3px solid #bde0fe;
    background-color: #bde0fe;
}

.water_logo:{
margin: 0px;
padding-top:2px;
}

.water img {
    background-color:
    }

.task_container{
background-color: green;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.task_container form{
 padding:20px
 }

.bigger-checkbox{
transform: scale(2.4);
justify-content: center;
align-items: center;
margin-top: 12px
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ffc8dd;
}

.form-control{
background-color: #bde0fe;
}

